// scss/_animations.scss
@use 'variables' as *;

.heart-pulse {
    animation: pulse 1.5s infinite;
    display: inline-block;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
/* _animations.scss */
@use 'variables' as *;

@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.heart-animation {
  animation: heartbeat 1s infinite;
}