// Standard Button
.button {
  $padding-medium: 10px; $padding-large: 20px; ;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}

