.hidden {
    display: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .margin-small {
    margin: 20px;
  }
  
  .padding-small {
    padding: 20px;
  }
  